@font-face {
  font-family: 'source-sans-pro-v11-latin-regular';
  src:font-url('source-sans-pro-v11-latin-regular.eot?-syv14m');
  src:font-url('source-sans-pro-v11-latin-regular.eot?#iefix-syv14m') format('embedded-opentype'),
    font-url('source-sans-pro-v11-latin-regular.woff2?-syv14m') format('woff2'),
    font-url('source-sans-pro-v11-latin-regular.woff?-syv14m') format('woff'),
    font-url('source-sans-pro-v11-latin-regular.ttf?-syv14m') format('truetype'),
    font-url('source-sans-pro-v11-latin-regular.svg?-syv14m#source-sans-pro-v11-latin-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

%icon {
  font-family: 'source-sans-pro-v11-latin-regular';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

%icon-exclamation-sign {
  @extend %icon;
  content: "\e600";
}
%icon-info-sign {
  @extend %icon;
  content: "\e602";
}
%icon-ok-sign {
  @extend %icon;
  content: "\e606";
}
%icon-search {
  @extend %icon;
  content: "\e607";
}
